@{
    ViewBag.Title = "Home Page";
}

<div class="tagCloudContainer">
    
        <div class="input-group urlSubmitGroup">
            <input type="text"  id="urlInfo" class="form-control" placeholder="Enter Url" style="max-width: 70% !important;">
            <div class="input-group-btn">
                <button type="button" id="submitUrl" class="btn btn-success">Submit</button>
            </div>
        </div>
    <div class="tagCloudDiv tagCloudBorder" id="TagCloud">

    </div>
  
</div>